    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <a ng-repeat="footerTab in footerTabs" ng-href="#{{footerTab.TabLink}}">{{footerTab.TabText}}</a>
            </div>
            <div class="navbar-right">
                <!--<i><a ng-repeat="footerTab in footerTabs" href="{{footerTab.TabLink}}">{{footerTab.TabText}}</a></i>-->
                <i><a href="https://www.facebook.com" class="glyphicon glyphicon-book"></a></i>
                <i><a href="https://www.youtube.com/" class="glyphicon glyphicon-facetime-video"></a></i>
                <i><a href="https://www.gmail.com" class="glyphicon glyphicon-envelope"></a></i>
            </div>
        </div>
    </div>
   